
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --miDarkFondo: rgb(58, 78, 116);
    --miLightFondo: rgb(113, 150, 219);
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height: 80px;
    background-color: var(--miDarkFondo);
    padding: 10px;
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: var(--miLightFondo);
}

@media (max-with: 700px){
    header nav{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
